/* CSS reset
    (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

*,
*:before,
*:after {
    box-sizing: inherit;
    box-sizing: border-box;
}


/* General styles
    (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {}

ol,
ul {
    list-style: none;
}


/* Header styles
    (all the styles inside the < header > or < nav > tags)
*/

.top-navigation li {
    display: inline-block;
}


/* Content styles
    (all the styles inside the < sections > or < aside > tags)
*/


/* Light theme */

.light {
    background-color: #A9CBD9;
    color: #011826;
}


/* Dark theme */

.dark {
    background-color: #011826;
    color: #A9CBD9;
}


/* Footer styles
    (all the styles inside the < footer > tag)
*/


/* Responsive styles
    (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/


/*iPad landscape / small laptop*/

@media only screen and (max-width: 1024px) {}


/*iPad potrait*/

@media only screen and (max-width: 768px) {}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {}
